<!DOCTYPE HTML>
<html style="background:url('/css/images/colorado.jpg')";>
    
	<head style="background:url('./css/images/colorado.jpg')">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!--<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>-->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Southwest</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper" >            
            <nav id="nav" style="background:url('/css/images/colorado.jpg')">
            	<ul>
                <li><a href="/">Back to Home Page</a></li>
				<li>
			</nav>
    	<div class="southwest" style="background:url('/css/images/colorado.jpg')">	
    		<br>
    		<br>
    		<br>
    		<h1 class="regionTitle">Southwestern Region</h1>
    		<p class="effect">In the future, climate change-related heat, drought, and insect outbreaks have increased wildfires. Additional concerns are the
    		   declining water supplies, reduced agricultural yields, and flooding and erosion in coastal areas. </p>
    	</div>	
	</body>
	
</html>	