<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html style="background:url('css/images/brick.jpg')";>
  <br>
  <br>
  <br>
      		<h1 class="infoTitle">Learn About how Global Warming and Pollution Specifically Affects You</h1>
    		<br>
    		<p class="info3">Select your region:</p>
    	</div>	
    	<div class="regionOverall">
        	<div class ="region"><img class="map" src="http://static.newworldencyclopedia.org/thumb/0/0c/US_map-Northeast.PNG/400px-US_map-Northeast.PNG"><h6 class="regionTitle2">Northeast</h6></div>
        	<div class ="region"><img class="map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/US_map-Northwest.PNG/350px-US_map-Northwest.PNG"><h6 class="regionTitle2">Northwest</h6></div>
        	<div class ="region"><img class="map" src="https://upload.wikimedia.org/wikipedia/commons/f/f2/US_map-South_East.png"><h6 class="regionTitle2">Southeast</h6></div>
        	<div class ="region"><img class="map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Southwest_map.png/300px-Southwest_map.png"><h6 class="regionTitle2">Southwest</h6></div>
        	<div class ="region"><img class="map" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Map_of_USA_Midwest.svg/350px-Map_of_USA_Midwest.svg.png"><h6 class="regionTitle2">Midwest</h6></div>
    	</div>
    	<form class="form" method="POST" action="/results">	
    		<div class="input-field col s12">
                
                <select name = "region" id="regionTag">
                  <option value="none">choose your option</option>
                  <option value="northeast">Northeast</option>
                  <option value="northwest">Northwest</option>
                  <option value="southeast">Southeast</option>
                  <option value="southwest">Southwest</option>
                  <option value="midwest">Midwest</option>
                </select>
                <br>
                <input class="regionSubmit" type="submit" value="Submit"> 
              </div>
    	 </form>	
	</body>
  
  
    
	<head>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	   <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Info</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage" style="background:url('css/images/brick.jpg')">
		<div id="page-wrapper">            
            <nav id="nav" style="background:url('css/images/brick.jpg')">
            	<ul>
                <li><a href="/#">Back to Home Page</a></li>
				<li>
			</nav>
    	<div class="info">	
    		<br>
    		<br>
    		<br>
    		<br>
    		<strong class="infoTitle">Learn More About Global Warming and Pollution</strong>
    		<br>
    		<br>
    		
    		<p class="info3">Did you know?</p>
    		<p class="info2">
    			-more than 1 MILLION species have gone extinct due to water pollution <br>
    			-the Arctic will be ice-free by 2040, if not earlier <br>
    			-by the end of this century, sea level will have risen by over 2 feet (putting many coastal cities under water) <br>
    			-50% of America's lakes are too polluted for fishing, swimming, or aquatic life <br>
    			-polluted drinking water is a problem for HALF the world's population leading to about 10 MILLION DEATHS yearly
    		</p>
    		<p class="info3">What causes Global Warming? </p>
    		<p class="info2"> 
    		As the earth becomes more populous, we need to take more resources from our planet in order to meet our growing
    		energy needs. The main source of this energy is fossil fuels; 
    		like petroleum, coal, and natural gas. All of these fuels, when processed, release harmful gases
    		like carbon dioxide that trap heat in the Earth's atmosphere. 
    		<br>
    		<br>
    		<p class="info3">Why should you care about Global Warming?</p>
    		<p class="info2">As a result of global warming, the overall temperature of the earth is going up, causing, among other issues, 
    		melting ice caps which widely affects wildlife, 
    		coastal areas all around the world, and people across the globe through sea level rise.</p> 
    		</p>
    		<br>
    		<p class="info3">What causes Pollution?</p>
    		<p class="info2"> 
    		<strong>Air pollution</strong> is caused mainly by emissions from manufacturing plants, cars, cattle, 
    		and farming and household chemicals. Cattle are a primary contributor
    		to air pollution; in fact, the gas they produce, which is called methane, is up to 23 times more powerful than carbon
    		dioxide. Cattle were never such a large issue. The problem today is that there are over 1.5 BILLION cows and other cattle.
    		That number is still growing due the demand for meat and dairy. The increasing density of pollutants 
    		in the air causes acid rain, which destroys vegetation and buildings. The long-term effects on a human exposed to air pollution can include lung cancer,
    		heart disease, and damage to the brain, nerves, liver, or kidneys. 
    		</p>
    		<p class="info2"> 
    		<strong>Water pollution</strong> is caused mainly by industrial waste, oil spills, sewage, and ocean dumping. Unlike air pollution,
    		which is caused by the necessary production of energy, much of water pollution comes from preventable accidents and not using 
    		safe water treatment methods. We must take action to prevent further pollution of our water, as it kills sealife, causes disease 
    		in both aquatic and human life, and destroys entire ecosystems. 
    		</p>
    		<br>
    		
    		<br>
	
</html>	