<!DOCTYPE HTML>
<html style="background:url('/css/images/sunset.jpg')";>
    
	<head style="background:url('./css/images/sunset.jpg')">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!--<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>-->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Northeast</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper" >            
            <nav id="nav" style="background:url('/css/images/sunset.jpg')">
            	<ul>
                <li><a href="/">Back to Home Page</a></li>
				<li>
			</nav>
    	<div class="northeast" style="background:url('/css/images/sunset.jpg')">	
    		<br>
    		<br>
    		<br>
    		<img src="https://s-media-cache-ak0.pinimg.com/236x/4a/34/e2/4a34e2ef7683a36084b26badd85e4f7c.jpg">
    		<h1>Northeastern Region</h1>
    		<p>Infrastructure, agriculture, fisheries, and ecosystems will become increasingly compromised. Heat waves 
    		and heavy downpours already threaten your region, however many states cities are beginning to incorporate 
    		global warming into their planning.</p>
    	</div>	
	</body>
	
</html>	