<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	-->
<html style="background:url('css/images/brick.jpg')";>
    
	<head style="background:url('css/images/brick.jpg')";>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	   <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Info</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
<body class="homepage" style="background:url('css/images/brick.jpg')">
	 <nav id="nav" style="background:url('css/images/brick.jpg')">
            	<ul>
                <li><a href="/#">Back to Home Page</a></li>
				<li>
	</nav>
	<br>
	<br>
	<br>
	<form class="form" method="POST" action="/signin">
	    <label class="username" for="user">Username: </label>
	    <br>
	    <br>
	    <input  type="text" name="username" id="user">
	    <button  class="usernameSubmit" type="submit" style="float: left;">Sign In!</button>
	</form>
</body>	
